<%- include('partials/header'); -%>

<form action="/addCompany" method="post" enctype="multipart/form-data">
    <label for="compu">Select your Company</label>
    <select id="defect" name="compu" onclick='checkIfYes()'>
        <option selected disabled hidden value="">Choose here</option>
        <% reports.forEach((topic)=>{ %>
            <option value="selected"><%= topic.company %></option>
        <% }); %>
    </select>
    <label for="company">If your company's name wasn't present above,write it here</label>
    <input type="text" name="company" />
    <label for="imag">Company Logo</label>
    <input type="file" name="imag" />
    <button>Submit</button>
</form>
<a href='/addExperience' class='btn'>Share your experiences here</a>
