<%- include('partials/header'); -%>

<form action="/addExperience" method="post" enctype="multipart/form-data">
    <h1>Share your Experience</h1>
    <label for="name">Name</label>
    <input type="text" name="name" required/>
    <label for="college">College</label>
    <input type="text" name="college" required/>
    <label for="year">Year</label>
    <input type="text" name="year" required/>
    <label for="description" > Write your experience here</label>
    <textarea rows = "7" cols = "45" name = "description"></textarea>
    <label for="image">Upload your image here</label>
    <input type="file" name="image" required/>
    <label for="company">Select your Company</label>
    <select  name="company" required>
        <option selected disabled hidden value="">Choose here</option>
        <% reports.forEach((topic)=>{ %>
            <option value=<%= topic._id %>><%= topic.company %></option>
        <% }); %>
    </select>
    <button>Submit</button>
</form>

