<%- include('partials/header'); -%>

<header>
    <header>
        <div class="smoothie">
          <img src="https://resources.workable.com/wp-content/uploads/2019/04/applicant-tracking-system-featured.png" alt="">
        </div>
        <div class="headings">
          <h2>Interview Prep Tracker</h2>
          <h3>By Jatin Vadel </h3>
          <a href="/topic" class="btn">Topics</a>
        
        </div>
      </header>
</header>