<%- include('partials/header'); -%>
<h2 class='recipe'><%= title%></h2>
<ul >

    <% if(questions.length > 0){ %>
    <% questions.forEach( (question) => { %>
      <li >
        <a href="<%=question.link%>" class ="btn"><h3><%= question.question %></h3></a>
    </li>

     </div>
     </div>
  <% }) %>
<% }else{ %>
      <P>NOTHING TO DISPLAY YET</P>
<%  } %>  
</ul>
<br>
<br>



